#sidebar-default {
  background: #00b9b4 none repeat scroll 0 0;
  border-right: 1px solid #18aba6;
  position: fixed;
  width: 260px;
}

#sidebar-default .current-user {
  background: #fff none repeat scroll 0 0;
  color: #000;
  margin-bottom: 40px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

#sidebar-default .menu-section ul li a:hover, #sidebar-default .menu-section ul li a.toggled {
  background: #18aba6 none repeat scroll 0 0;
}

#sidebar-default .menu-section ul li a.active {
  /*background: #ff6600 none repeat scroll 0 0;*/
  background: #003f3c none repeat scroll 0 0;
}

#sidebar-default .menu-section h3 {
  font-size: 14px;
}

#sidebar-default .menu-section ul li a {
  color: #fff;
  font-weight: bold;
}

#users #content form.search {
  margin-left: 140px;
}

#dashboard #content .menubar.fixed {
  padding-left: 300px;
}

.modal-header .close {
  margin-top: 3px;
}
/*#dashboard #content .page-title {*/
  /*border-right: 1px solid #e6e6e6;*/
  /*bottom: 0;*/
  /*color: #7e7e7e;*/
  /*font-size: 16px;*/
  /*font-weight: 600;*/
  /*letter-spacing: 0.3px;*/
  /*padding: 20px 30px;*/
  /*position: absolute;*/
  /*text-transform: uppercase;*/
  /*top: 0;*/
/*}*/

/*#form #content .menubar.fixed {*/
    /*padding-left: 270px;*/
/*}*/

/*#form #content .form-horizontal .form-group .detail {*/
    /*margin-bottom: 0;*/
    /*margin-top: 0;*/
    /*padding-top: 7px;*/
/*}*/

/*#users #content .page-title {
  !*color: #ff6600;*!
  color: #003f3c;
  font-size: 17px;
  font-weight: 700;
}*/


/*To be moved to resource-type.component.css*/

/*#users #content .content-wrapper .users-list .headers .header label {*/
  /*height: auto;*/
/*}*/

/*#users #content .content-wrapper .users-list .headers .header label span {*/
  /*background: #fff none repeat scroll 0 0;*/
  /*color: #333;*/
  /*display: block;*/
  /*font-weight: 600;*/
  /*text-decoration: none;*/
  /*transition: all 0.14s linear 0s;*/
/*}*/

/***********************************************/

.btn-primary {
  background-color: #00b9b4;
  border-color: #18aba6;
  color: #fff;
}




/*****************************************************************************************/
/*****************************************************************************************/

/** Add css rules here for your application. */

*::before, *::after {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}


body {
  background: #fff none repeat scroll 0 0;
  padding-top: 0px !important;
  /*font: normal 13px/20px Open Sans !important;*/
  font: normal 13px/20px Source Sans Pro !important;
  margin: 0;
}

.loading {
  position: relative;
  min-height: 200px;
}

.loading-medium {
  position: relative;
  min-height: 300px;
}

.loading-big {
  position: relative;
  min-height: 600px;
}

.loader {
  background: url("imgs/loader-small.gif") no-repeat center;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loader-big {
  background: url("imgs/loader-big.gif") no-repeat center;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.whiteFilm {
  background: #ffffff;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}

.inlineBlock {
  display: inline-block;
}

.marginLeftRight20 {
  margin-left: 20px;
  margin-right: 20px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.pull-right {
  float: right;
}

.comment {
  font-size: 12px;
  color: #666;
}

.fontItalic {
  font-style: italic;
}

.btn {
  background-color: #fff !important;
  background-image: none !important;
  border-color: #ccc !important;
  color: #333;
  /*border-radius: 0px !important;*/
}

/*.btn-primary {*/
  /*background-color: #586175 !important;*/
  /*background-image: none !important;*/
/*}*/

.btn-default {
  background-color: #fff !important;
  background-image: none !important;
  border-color: #ccc !important;
  color: #333;
}

.btn-success {
  background-color: #76b852 !important;
  border: 1px solid #63a042 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 0 rgba(255, 255, 255, 0.2) inset !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
  transition: all 0.2s linear 0s !important;
  color: #fff;
}

.btn-info {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
  transition: all 0.2s linear 0s !important;
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
  color: #fff;
}

.btn-danger {

  background-color: #d9534f !important;
  border-color: #d43f3a !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
  transition: all 0.2s linear 0s !important;
  color: #fff;
}



#signin .bg {
  background: #3f4c5b url("./imgs/fotoInteraWithOpacity.jpg") no-repeat fixed 50% 50% / 100% auto !important;
  padding-top: 70px;
}

#signin .logo {
  display: block;
  text-align: center;
  text-decoration: none;
}

#signin h3 {
  color: #fff;
  font-size: 24px;
  margin-top: 35px;
  text-align: center;
}

#signin .content {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.3);
  margin: 40px auto 0;
  max-width: 460px;
  padding: 42px 48px;
}

#signin .content .alert {
  margin-bottom: 15px;
}

#signin .content .fields {
  margin-bottom: 10px;
}

#signin .content .fields strong {
  display: block;
  margin-bottom: 10px;
}

#signin .content .fields input[type="text"], #signin .content .fields input[type="password"] {
  margin-bottom: 15px;
}
input.form-control[type="text"], input.form-control[type="email"], input.form-control[type="password"] {
  box-shadow: none;
}

.form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

#signin .content .actions {
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}

#signin .content input {
  height: 35px !important;
}

.btn-lg, .btn-group-lg > .btn {
  border-radius: 2px !important;
  font-size: 17px !important;
  line-height: 1.33 !important;
  padding: 10px 20px !important;
}

#signin .bottom-wrapper {
  padding-bottom: 157px;
}

#signin .bottom-wrapper .message {
  border: 1px solid #8b9bc4;
  border-radius: 4px;
  color: #fff;
  margin: 60px auto 0;
  max-width: 360px;
  padding: 18px;
  text-align: center;
}

#signin .bottom-wrapper .message a {
  color: #fff;
  margin-left: 6px;
}




modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.35 !important;
}
/*.modal {
	border-radius: 0px !important;
}*/

.modal.confirmationModal {
  margin-left: -230px;
  margin-top: 90px !important;
  width: 500px !important;
}

.confirmationModal .entriesInfo {
  margin-bottom: 15px;
}

.modal.formModal {
  margin-left: -230px;
  width: 500px !important;
}

.confirmationModal .modal-header,
.formModal .modal-header {
  padding: 15px 20px !important;
}

.confirmationModal .modal-header h3,
.formModal .modal-header h3{
  font-size: 20px !important;
  font-weight: 400 !important;
}

.confirmationModal .modal-body,
.formModal .modal-body {
  padding: 20px 25px;
}

.confirmationModal .modal-footer,
.formModal .modal-footer {
  padding: 19px 20px 20px !important;
  margin-top: 15px;
  background-color: #fff !important;
  border-top: 1px solid #e5e5e5 !important;
}

.confirmationModal .modal-footer .confirmationModalButtons .btn,
.formModal .modal-footer .confirmationModalButtons .btn {
  margin-left: 10px;
}

.formModal label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
}

.formModal input {
  height: 35px !important;
}

.formModal .input-xxlarge {
  width: 450px;
}

.formModal textarea {
  height: 90px;
}

.formModal form {
  margin: 0px !important;
}

.formModal fieldset.firstInlineFieldSet {
  margin-right: 28px;
}

.formModal .controls .span2 {
  width: 202px;
}




/*#wrapper {*/
  /*margin: 0 auto;*/
  /*position: relative;*/
/*}*/

/*#sidebar-default {*/
  /*background: #2a313a none repeat scroll 0 0;*/
  /*border-right: 1px solid #3c434d;*/
  /*left: 0;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*width: 260px;*/
  /*z-index: 999;*/
/*}*/

/*.main-sidebar {*/
  /*bottom: 0;*/
/*}*/

/*#sidebar-default .current-user {*/
  /*background: linear-gradient(#3d4a5d, #3f4c5c) repeat scroll 0 0%, #686e78 none repeat scroll 0 0;*/
  /*color: #fff;*/
  /*height: 63px;*/
  /*margin-bottom: 20px;*/
  /*padding: 0 20px;*/
  /*position: relative;*/
/*}*/

/*#sidebar-default .current-user .name {*/
  /*color: #f0f5fa;*/
  /*display: block;*/
  /*font-size: 15px;*/
  /*padding: 10px 0;*/
  /*position: relative;*/
  /*text-decoration: none;*/
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
/*}*/

/*#sidebar-default .current-user .name span {*/
  /*position: relative;*/
  /*top: 4px;*/
/*}*/

/*#sidebar-default .current-user .name .avatar {*/
  /*border-radius: 50%;*/
  /*margin-right: 12px;*/
  /*max-width: 41px;*/
  /*position: relative;*/
  /*top: 2px;*/
  /*background-color: #dde1d4;*/
  /*padding: 3px;*/
/*}*/

img {
  vertical-align: middle;
  border: 0 none;
}

a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

/*#sidebar-default .menu-section {*/
  /*margin-bottom: 25px;*/
/*}*/

/*#sidebar-default .menu-section h3 {*/
  /*color: #fff;*/
  /*font-size: 11px;*/
  /*font-weight: bold;*/
  /*letter-spacing: 0.5px;*/
  /*margin-bottom: 0;*/
  /*margin-top: 0;*/
  /*padding-left: 23px;*/
  /*text-shadow: 1px 1px #000;*/
  /*text-transform: uppercase;*/
/*}*/

/*#sidebar-default .menu-section ul {*/
  /*list-style-type: none;*/
  /*margin-bottom: 0;*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  /*margin-top: 0;*/
  /*padding-left: 0;*/
/*}*/

/*#sidebar-default .menu-section ul li {*/
  /*margin: 1px 0;*/
/*}*/

/*#sidebar-default .menu-section ul li a {*/
  /*background: transparent none repeat scroll 0 0;*/
  /*color: #ecf6ff;*/
  /*display: inline-block;*/
  /*font-size: 14px;*/
  /*font-weight: 400;*/
  /*padding: 7px 10px 9px 23px;*/
  /*text-decoration: none;*/
  /*transition: background 0.13s linear 0s;*/
  /*width: 100%;*/
/*}*/

/*#sidebar-default .menu-section ul li a.active {*/
  /*background: linear-gradient(#5b6479, #4c5566) repeat scroll 0 0%, #686e78 none repeat scroll 0 0;*/
  /*box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.16) inset;*/
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
/*}*/

/*#sidebar-default .menu-section ul li a i {*/
  /*font-size: 19px;*/
  /*margin-right: 9px;*/
  /*min-width: 17px;*/
  /*position: relative;*/
  /*text-align: center;*/
  /*top: 1px;*/
/*}*/

#sidebar-default .bottom-menu {
  bottom: 0;
  position: fixed;
  width: 260px;
  z-index: 999;
}

#sidebar-default .bottom-menu > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar-default .bottom-menu > ul > li {
  border-right: 1px solid #3e4e55;
  border-top: 1px solid #3e4e55;
  display: block;
  float: left;
  width: 33.333%;
}

#sidebar-default .bottom-menu > ul > li > a {
  background: #333d4b none repeat scroll 0 0;
  display: block;
  padding: 6px 0;
  position: relative;
  text-align: center;
}

#sidebar-default .bottom-menu > ul > li > a i {
  color: #cbd3db;
  font-size: 19px;
  transition: all 0.1s linear 0s;
}

#sidebar-default .bottom-menu > ul > li > a .flag {
  background: #9ed166 none repeat scroll 0 0;
  border-radius: 25px;
  display: block;
  height: 7px;
  position: absolute;
  right: 25px;
  top: 4px;
  width: 7px;
}

#sidebar-default .bottom-menu > ul > li .menu::after {
  background-image: url("popover-arrow.png");
  background-size: 100% 100%;
  bottom: -12px;
  content: "";
  display: block;
  height: 12px;
  left: 49%;
  margin-left: -18.5px;
  position: absolute;
  transform: rotateX(180deg);
  width: 37px;
}

#sidebar-default .bottom-menu > ul > li > a:hover + .menu {
  opacity: 1;
  transform: scale(1);
}

#sidebar-default .bottom-menu > ul > li .menu {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  bottom: 34px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  left: 39px;
  list-style-type: none;
  opacity: 0;
  padding: 7px 0;
  position: absolute;
  transform: scale(0);
  transform-origin: 50% 100% 0;
  transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1) 0s;
  width: 155px;
  z-index: 999;
}

#sidebar-default .bottom-menu > ul > li .menu li {
  border-bottom: 1px solid #e6e6e6;
  padding: 8px 0;
  text-align: center;
}

#sidebar-default .bottom-menu > ul > li .menu li:last-child {
  border-bottom: 0 none;
}

#sidebar-default .bottom-menu > ul > li .menu li a {
  color: #54a0e2;
  display: block;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s linear 0s;
}






#content {
  background: #fff none repeat scroll 0 0;
  margin-left: 260px;
  min-height: 900px;
  padding: 67px 40px 40px;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

/*#steps #content {
	padding: 67px 0px 0px;
}*/

#content .menubar {
  background: white none repeat scroll 0 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  height: 63px;
  left: 0;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

#content .menubar.fixed {
  padding-left: 260px;
  position: fixed;
}

#content .menubar .page-title {
  color: #333;
  float: left;
  font-size: 17px;
  line-height: 26px;
  position: relative;
}

#content .menubar .page-title small {
  margin-left: 10px;
}

#content .menubar .btn.pull-right {
  font-weight: bold;
  letter-spacing: 0.3px;
  position: relative;
  top: -5px;
}

#users #content .page-title,
#roles #content .page-title,
#news #content .page-title,
#dataProviders #content .page-title,
#faqTopics #content .page-title,
#faqQuestions #content .page-title {
  border-right: 1px solid #e6e6e6;
  bottom: 0;
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding: 20px 35px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}


#content .content-wrapper {
  margin-top: 20px;
}

#content .content-wrapper .contentPanel {
  padding: 10px 15px;
}

#steps #content .content-wrapper .contentPanel {
  padding: 0px;
}

#users #content .content-wrapper .contentPanel .alert,
#roles #content .content-wrapper .contentPanel .alert,
#news #content .content-wrapper .contentPanel .alert,
#faqTopics #content .content-wrapper .contentPanel .alert,
#faqQuestions #content .content-wrapper .contentPanel .alert,
#harvestHistory #content .content-wrapper .contentPanel .alert {
  margin-left: -10px;
  margin-right: -10px;
}

#dataProviders #content .content-wrapper .contentPanel .alert {
  margin-left: -25px;
  margin-right: -25px;
}

#dataProviders #content .content-wrapper .contentPanel .row .alert {
  margin-left: 0px;
  margin-right: 0px;
}



/*.clearfix::before, .clearfix::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after {
	content: " ";
    display: table;
}

.clearfix::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after {
	clear: both;
}

.clearfix::before, .clearfix::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after {
	content: " ";
    display: table;
}*/


#dashboard .metrics {
  background: linear-gradient(#303d4f, #435266) repeat scroll 0 0%, #686e78 none repeat scroll 0 0;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset;
  font-family: "Helvetica Neue",Arial;
  margin-top: 30px;
}

#dashboard .metrics .metric {
  border-right: 1px solid #526075;
  float: left;
  padding: 23px 0;
  text-align: center;
  width: 25%;
}

#dashboard .metrics .metric .field {
  color: #f4f4f4;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 9px;
}

#dashboard .metrics .metric .data {
  color: #fff;
  display: block;
  font-size: 27px;
  text-shadow: 1px 1px #000;
}





#dashboard .chart {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #dfe3eb;
  border-radius: 5px;
  box-shadow: 0 1px 0 #ededed inset;
  margin: 40px 0 50px;
  padding: 25px;
}

#dashboard .requestsGraphPanel {
  height: 400px;
}

#dashboard .usersGraphPanel {
  height: 400px;
}

#dashboard .userSectorPiePanel {
  height: 400px;
  width: 48%;
  display: inline-block;
  /*float: left;*/
}

#dashboard .requestStatusDonutPanel {
  height: 400px;
  width: 48%;
  display: inline-block;
  margin-right: 4%;
  /*float: left;*/
}

#dashboard .requestStatusDonutPanel.chart, #dashboard .userSectorPiePanel.chart {
  margin-top: 0px;
}

#dashboard .chart h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 0;
}

#dashboard .chart #visitors-chart {
  height: 230px;
  position: relative;
}

#dashboard .chart h3 .total {
  color: #2d96be;
  font-size: 14px;
  left: -8px;
  position: relative;
  top: 6px;
}

.pull-right {
  float: right;
}

#dashboard .chart h3 .total .change {
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  margin-left: 7px;
  padding: 2px 5px;
}

#dashboard .chart h3 .total .change.up {
  color: #3fb83f;
}







#users #content form.search {
  float: left;
  margin-left: 170px;
  position: relative;
  top: -2px;
  width: 260px;
}

#roles #content form.search {
  float: left;
  margin-left: 200px;
  position: relative;
  top: -2px;
  width: 260px;
}

#news #content form.search {
  float: left;
  margin-left: 310px;
  position: relative;
  top: -2px;
  width: 360px;
}

#faqTopics #content form.search {
  float: left;
  margin-left: 190px;
  position: relative;
  top: -2px;
  width: 360px;
}

#faqQuestions #content form.search {
  float: left;
  margin-left: 190px;
  position: relative;
  top: -2px;
  width: 360px;
}

#dataProviders #content form.search {
  float: left;
  margin-left: 220px;
  position: relative;
  top: -2px;
  width: 420px;
}

#users #content form.search input[type="text"],
#roles #content form.search input[type="text"],
#news #content form.search input[type="text"],
#dataProviders #content form.search input[type="text"],
#faqTopics #content form.search input[type="text"],
#faqQuestions #content form.search input[type="text"] {
  border: 0 none;
  border-radius: 3px;
  padding: 6px 15px 6px 37px;
  width: 100%;
  height: 35px !important;
  box-shadow: none !important;
  background-image: url("imgs/icn_search.png");
  background-position: 2% 40%;
  background-repeat: no-repeat;
  background-size: 20px auto;
}

#users #content form.search input[type="submit"],
#roles #content form.search input[type="submit"],
#news #content form.search input[type="submit"],
#dataProviders #content form.search input[type="submit"],
#faqTopics #content form.search input[type="submit"],
#faqQuestions #content form.search input[type="submit"] {
  position: absolute;
  visibility: hidden;
}

#users #content .content-wrapper .page-controls,
#roles #content .content-wrapper .page-controls,
#news #content .content-wrapper .page-controls,
#faqTopics #content .content-wrapper .page-controls,
#harvestHistory #content .content-wrapper .page-controls {
  margin-top: 30px;
}

#faqQuestions #content .content-wrapper .page-controls {
  margin-top: 10px;
}

#users #content .content-wrapper .page-controls .filters .links,
#roles #content .content-wrapper .page-controls .filters .links,
#news #content .content-wrapper .page-controls .filters .links,
#faqTopics #content .content-wrapper .page-controls .filters .links,
#faqQuestions #content .content-wrapper .page-controls .filters .links,
#harvestHistory #content .content-wrapper .page-controls .filters .links,
#harvest #content .content-wrapper .page-controls .filters .links {
  float: left;
  margin-left: -5px;
}

#users #content .content-wrapper .page-controls .filters .links .filterLabel,
#roles #content .content-wrapper .page-controls .filters .links .filterLabel,
#news #content .content-wrapper .page-controls .filters .links .filterLabel,
#faqTopics #content .content-wrapper .page-controls .filters .links .filterLabel,
#faqQuestions #content .content-wrapper .page-controls .filters .links .filterLabel,
#harvestHistory #content .content-wrapper .page-controls .filters .links .filterLabel,
#harvest #content .content-wrapper .page-controls .filters .links .filterLabel {
  font-size: 15px;
  margin-right: 20px;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  display: inline-block;
}

#harvestHistory #content .content-wrapper .page-controls .filters .links .input-xxlarge {
  width: 380px !important;
}


#users #content .content-wrapper .page-controls .filters .links a,
#roles #content .content-wrapper .page-controls .filters .links a,
#news #content .content-wrapper .page-controls .filters .links a,
#faqQuestions #content .content-wrapper .page-controls .filters .links a,
#harvest #content .content-wrapper .page-controls .filters .links a {
  color: #666;
  margin-right: 35px;
  padding-bottom: 2px;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}

#users #content .content-wrapper .page-controls .filters .links a.active,
#roles #content .content-wrapper .page-controls .filters .links a.active,
#news #content .content-wrapper .page-controls .filters .links a.active,
#faqQuestions #content .content-wrapper .page-controls .filters .links a.active,
#harvest #content .content-wrapper .page-controls .filters .links a.activ {
  border-bottom: 1px solid #82bfe9;
  color: #378fca;
  font-weight: 600;
}

#users #content .content-wrapper .page-controls .filters .show-options,
#roles #content .content-wrapper .page-controls .filters .show-options,
#news #content .content-wrapper .page-controls .filters .show-options,
#faqTopics #content .content-wrapper .page-controls .filters .show-options,
#faqQuestions #content .content-wrapper .page-controls .filters .show-options,
#harvestHistory #content .content-wrapper .page-controls .filters .show-options,
#harvest #content .content-wrapper .page-controls .filters .show-options {
  float: right;
}

#users #content .content-wrapper .page-controls .filters .show-options .btn,
#news #content .content-wrapper .page-controls .filters .show-options .btn,
#faqTopics #content .content-wrapper .page-controls .filters .show-options .btn,
#faqQuestions #content .content-wrapper .page-controls .filters .show-options .btn,
#harvestHistory #content .content-wrapper .page-controls .filters .show-options .btn,
#harvest #content .content-wrapper .page-controls .filters .show-options .btn {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: -7px;
}

.show-options .dropdown-menu {
  right: 0;
  margin: -5px 0 0 !important;
  left: auto;
}

.show-options .dropdown-menu > li > a:hover, .show-options .dropdown-menu > li > a:focus {
  background-color: #f5f5f5 !important;
  color: #262626 !important;
  text-decoration: none !important;
  background-image: none !important;
}





#content .content-wrapper .users-list {
  margin-bottom: 40px;
  margin-top: 35px;
  /*font-size: 12px;*/
}

#content .content-wrapper .dataProviders-list {
  margin-bottom: 40px;
  margin-top: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.dataProviders-list .row {
  margin-left: -25px !important;
  margin-right: -25px !important;
}

.col-md-12 {
  width: 100%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  display: inline-block;
}

#content .content-wrapper .users-list .headers,
#content .content-wrapper .dataProviders-list .headers {
  min-height: 35px;
  padding-bottom: 10px;
}

#content .content-wrapper .users-list .headers .header label,
#content .content-wrapper .dataProviders-list .headers .header label {
  color: #333;
  font-weight: 600;
  /*height: 100%;*/
  width: 100%;
}

#content .content-wrapper .users-list .headers .header label a,
#content .content-wrapper .dataProviders-list .headers .header label a {
  background: #fff none repeat scroll 0 0;
  color: #333;
  display: block;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.14s linear 0s;
}

.col-sm-1 {
  width: 8.33333%;
}

.col-sm-2 {
  width: 16.6667%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.3333%;
}

.col-sm-5 {
  width: 41.6667%;
}

#content .content-wrapper .users-list .user:nth-child(2n),
#content .content-wrapper .dataProviders-list .user:nth-child(2n) {
  background: #fafafc none repeat scroll 0 0;
}

#content .content-wrapper .users-list .user,
#content .content-wrapper .dataProviders-list .user {
  border-bottom: 1px solid #f0f0f0;
  padding: 12px 0;
}

#content .content-wrapper .users-list .user .avatar input[type="checkbox"],
#content .content-wrapper .dataProviders-list .user .avatar input[type="checkbox"] {
  cursor: pointer;
  margin-right: 15px;
  margin-top: 0;
}

#content .content-wrapper .users-list .user .name {
  color: #333;
  position: relative;
  text-decoration: none;
  /*top: 13px;*/
}

#content .content-wrapper .users-list .user .email {
  font-size: 13px;
  position: relative;
  /*top: 13px;*/
}

#content .content-wrapper .users-list .user .alert {
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#content .content-wrapper .users-list .user .actions input {
  margin-right: 10px !important;
}

#content .content-wrapper .dataProviders-list .user .actions input {
  margin-left: 10px !important;
}

#content .content-wrapper .users-list .user .label,
#content .content-wrapper .dataProviders-list .user .label {
  display: inline-block;
  margin-left: 15px;
  position: relative;
  text-decoration: none !important;
  padding: 3px 10px !important;
}

.label-warning {
  background-color: #f0ad4e !important;
}





#steps .steps .step {
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 35px 75px;
}

#steps .steps .step:nth-child(2n+1) {
  background: #f8f8fa none repeat scroll 0 0;
}

/*#steps .steps .step.done {
    background: #f8f8fa none repeat scroll 0 0;
    margin: 0;
    padding: 35px 75px;
}*/

#steps .steps .step .info {
  float: left;
  position: relative;
}

#steps .steps .step.done .info {
  top: -6px;
}

#steps .steps .step .info .number {
  font-size: 26px;
  margin-right: 20px;
  position: relative;
  top: 2px;
}

#steps .steps .step .btn {
  margin-left: 10px;
}



#harvest #content .content-wrapper .manualHarvest {
  float: left;
  height: 100%;
  min-height: 800px;
  /*padding: 30px 30px 80px;*/
  position: relative;
  width: 30%;
  margin-top: -30px;
  margin-left: -35px;
}

.manualHarvest input[type="text"] {
  height: 30px !important;
}

.manualHarvest .input-xlarge {
  width: 98%;
}

input.inputWithComment {
  margin-bottom: 0px !important;
}

.manualHarvest label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
}

.manualHarvestObjectTypes, .scheduledHarvestObjectTypes {
  padding-left: 5px;
  padding-right: 5px;
}

.manualHarvestObjectTypes label, .scheduledHarvestObjectTypes label {
  /*display: block;*/
  font-weight: 400;
  margin-bottom: 7px;
  width: 50%;
}

.scheduledHarvestObjectTypes input {
  height: 20px !important;
  margin-top: 0 !important;
}

label.selectAllObjectTypes {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(#f7f8fc, #f8f9fc) repeat scroll 0 0;
  border-bottom: 1px solid #dee3ea;
  border-top: 1px solid #d4dbe4;
  box-shadow: 0 1px rgba(255, 255, 255, 0.79) inset;
  padding: 5px 10px;
  margin-left: -5px;
  margin-right: -5px;
}

.selectAllObjectTypes input[type="checkbox"] {
  margin-left: -4px !important;
  margin-right: 6px;
}

.selectAllObjectTypes span {
  letter-spacing: 0.5px;
}

.manualHarvest .actionButtons {
  text-align: center;
}

.manualHarvest .harvestNow {
  font-weight: bold;
  letter-spacing: 0.3px;
}

#harvest #content .content-wrapper .scheduleHarvest {
  border-left: 1px solid #e8ebf0;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 67px;
  width: 70%;
}

#harvest .manualHarvest h3,
#harvest .scheduleHarvest h3 {
  font-size: 17px !important;
  font-weight: 400;
  margin: 20px 0 25px;
  padding: 0 20px;
  text-align: center;
}

#harvest .scheduleHarvest .row {
  margin-left: 20px;
  margin-right: 20px;
}

#harvest #content .content-wrapper .page-controls {
  margin-top: 15px;
}

#harvest #content .content-wrapper .page-controls .filters .show-options {
  margin-top: 7px;
}

table.dataTable {
  clear: both;
  margin: 15px 30px;
}

#harvest .content-wrapper .scheduleHarvest thead th::after {
  bottom: -1px;
  box-shadow: 0 1px 1px rgba(66, 85, 124, 0.14);
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

#harvest .content-wrapper .scheduleHarvest thead th {
  background: rgba(0, 0, 0, 0) linear-gradient(#f7f8fc, #f8f9fc) repeat scroll 0 0;
  border-bottom: 1px solid #dee3ea;
  border-top: 1px solid #d4dbe4;
  box-shadow: 0 1px rgba(255, 255, 255, 0.79) inset;
  color: #444;
  padding: 10px 18px 12px 20px;
  position: relative;
  text-shadow: 1px 1px #fff;
}

table.dataTable tr.odd {
  background-color: white;
}

table.dataTable tr.even {
  background-color: white;
}

#harvest .content-wrapper .scheduleHarvest td {
  padding: 11px 20px;
  text-align: center;
}

table.dataTable tr.odd td.selecting {
  background-color: #fafbfd;
}

table.dataTable tr.even td.selecting {
  background-color: #fafbfd;
}

table.dataTable td {
  border-bottom: 1px solid #edf2f7;
  padding: 11px 9px;
}

table.dataTable td input.edit {
  margin-right: 5px;
}

.scheduleHarvestAlerts {
  margin-left: 30px;
  margin-right: 20px;
}

#performanceIndicators #content .contentPanel {
  font-size: 15px;
  padding-left: 0;
}



