<div id="newPageHelpContent">
    <div id="content">
        <div class="menubar fixed">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>

            <div class="page-title">New Help Content</div>
        </div>

        <div class="content-wrapper">

            <div>
                <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{errorMessage}}</div>
                <page-content-form [group]="formGroup"></page-content-form>
                <a (click)="saveCustom()" class="btn btn-success"><i></i>Save page content</a>
            </div>
        </div>
    </div>
</div>
