<div id="newPageHelpContent">
    <div id="content">
        <div class="menubar fixed">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>

            <div class="page-title">New Help Content</div>
        </div>

        <div class="content-wrapper">
            <p>
                new help content
            </p>
            <div>
                <page-content-form [group]="formGroup"></page-content-form>
                <!--<ckeditor-->
                        <!--[(ngModel)]="ckeditorContent"-->
                        <!--[readonly]="false"-->
                        <!--(change)="onChange($event)"-->
                        <!--(ready)="onReady($event)"-->
                        <!--(focus)="onFocus($event)"-->
                        <!--(blur)="onBlur($event)"-->
                        <!--debounce="500">-->
                        <!--&lt;!&ndash;[config]="{uiColor: '#99000'}"&ndash;&gt;-->

                <!--</ckeditor>-->
            </div>
        </div>
    </div>
</div>
