<div id="dashboard">
    <div id="content">
        <div class="menubar fixed">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>

            <div class="page-title">Dashboard</div>
        </div>

        <div class="content-wrapper">
            <p>The OMTD registry will be a resource based registry , i.e., it will try to agnostically manage resources
                whose schema is not necessarily  known a priori. An OMTD resource is defined as any object that must be
                presented (viewed, searched, linked) as an autonomous entity in the OMTD space and users.</p>

            <p>Brief description of functionality requirements</p>
            <ul>
                <li>Extensibility on the resource types: ability to add/remove resource types on the fly, without changes on the
                    underlying code and database schema.</li>
                <li>Versioning</li>
                <li>Registration and validation mechanisms for each resource type</li>
                <li>Referential integrity among related resources</li>
                <li>Different exchange formats: ability to store resources formatted in both JSON and XML.</li>
                <li>REST/SOAP APIs for different types of searches (also based on relationships?)</li>
                <li>Subscription/Notification (S/N): notify interested users and services for changes in the stored resources.</li>
                <li>Scalability and performance</li>
            </ul>
        </div>
    </div>
</div>
