<div id="content">
    <div class="menubar fixed">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">Configuration</div>
        <!--<form class="search hidden-xs">
            <i class="fa fa-search"></i>
            <input type="text" name="q" placeholder="Search id, subject..." />
            <input type="submit" />
        </form>-->
    </div>

    <div class="content-wrapper">
        <p>Here you will be able to enable/disable versioning, cleanup all versions, configure notifications, etc</p>
    </div>
</div>